@{
    ViewData["Title"] = "Account";
} 

@*INLOGGEN*@
<section class="text-center" id="sign-in">
    <div class="body-sign-in">
        <div class="form-signin">
            <form>
                <div class="d-flex justify-content-center align-content-center">
                    <img class="w-25" src="~/images/MovieFreakRound.png" alt="">
                </div>
                <h1 class="h3 mt-4 fw-normal">Meldt je aan</h1>
                <hr class="hr-blue my-4" />
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Wachtwoord</label>
                </div>

                <div class="checkbox my-4">
                    <label>
                        <input class="checkbox" type="checkbox" value="remember-me"> Remember me 
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-home" type="submit">Aanmelden</button>
            </form>
        </div>
    </div>
</section>

@*REGISTREREN*@