@{
    ViewData["Title"] = "Lijsten";
} 

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Jouw @ViewData["Title"]</h1>
        </div>
    </div>
</section>