/* GLOBAL */

:root {
    --accent: #98C1D9;
    --link: #EE6C4D;
    --main: #3D5A80;
    --darkText: #293241;
    --lightText: #FFFFFF;
}

body {
    font-family: Poppins;
}

.txt-accent {
    color: var(--accent);
}

/* Primary color instellen */
.bg-primary {
    background-color: var(--main) !important;
}

.bg-accent {
    background-color: var(--accent);
}

/* Link teksten vet maken */
a.nav-link {
    font-size: 14pt;
    font-family: Poppins;
    font-weight: 400;
}

.link-color {
    color: var(--link);
}

    .link-color:hover {
        color: var(--link);
    }

/* Tekstkleur van navbar brand/tekst wit maken */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--lightText);
}

/* Tekstkleur van navbar links wit maken */
.navbar-custom .navbar-nav .nav-link {
    color: var(--lightText);
}

/* Tekstkleur van navbar links (bij active/hover) roze maken */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--accent);
}

/* Hamburger icoon van toggler wit maken */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Rand rond hamburger icoon van toggler wit maken */
/*.custom-toggler.navbar-toggler {
    border-color: var(--lightText);
}*/

.custom-toggler.navbar-toggler:focus {
    box-shadow: 0 0 0 0.20rem var(--main);
}

/* Header */

.img-trans {
    border: none;
    background: transparent;
}

.spotlight {
    margin-top: 50px;
}

.spotlightInfo {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.h4-home {
    font-size: 14pt;
    color: var(--link);
}

.h4-details {
    font-size: 13pt;
    font-weight: normal;
}

.h5-home {
    font-size: 11pt;
    color: var(--link);
}

.hr-blue {
    border: 2px solid var(--accent);
    border-radius: 10px;
}

.vl {
    border-left: 1px solid var(--link);
}

.fs {
    font-size: 13pt;
}

.fs-s {
    font-size: 10pt;
}

.text-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-home {
    color: var(--lightText);
    background: var(--accent);
    border-color: var(--accent);
}

    .btn-home:hover {
        color: var(--lightText);
        background: var(--main);
        border-color: var(--main);
    }

    .btn-check:focus + .btn-home, .btn-home:focus {
        color: var(--lightText);
        background: var(--main);
        border-color: var(--main);
        box-shadow: 0 0 0 0.20rem var(--accent);
    }

.btn-trailer {
    color: var(--main);
    background: transparent;
    border: 0px;
}

.btn-details {
    color: var(--main);
    background: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn-details-tablet {
    color: var(--main);
    background: transparent;
    border: 0px;
    position: absolute;
    bottom: 0;
}

    .btn-details:hover,
    .btn-details-tablet:hover,
    .btn-trailer:hover {
        color: var(--accent);
        background: transparent;
        border: 0px;
    }

    .btn-check:focus + .btn-details, .btn-details:focus,
    .btn-check:focus + .btn-details-tablet, .btn-details-tablet:focus,
    .btn-check:focus + .btn-trailer, .btn-trailer:focus {
        color: var(--accent);
        background: transparent;
        border: 0px;
    }

.border-orange {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--link);
    border-radius: 0px;
    background: transparent;
}

.fa-main {
    color: var(--main);
}

input:focus {
    outline: none;
    box-shadow: none !important;
}

.genre-mobile {
    position: absolute;
    bottom: 0;
}

/*Sign-in / registreer pagina*/
.body-sign-in {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin,
.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox,
    .form-signup .checkbox {
        font-weight: 300;
    }

    .form-signin .form-floating:focus-within,
    .form-signup .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="text"],
    .form-signin input[type="email"],
    .form-signin input[type="password"],
    .form-signup input[type="text"],
    .form-signup input[type="email"],
    .form-signup input[type="password"] {
        margin-bottom: 10px;
        border-radius: 0px;
        border: 1px solid var(--accent);
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
    }

input[type=checkbox] {
    accent-color: var(--link);
}

input[type="search"],
input[type="search"]:focus {
    border-radius: 0px;
    border: 1px solid var(--link);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }