/* GLOBAL */

:root {
    --accent: #98C1D9;
    --link: #EE6C4D;
    --link-hover: #D44A2A;
    --main: #3D5A80;
    --main-hover: #223957;
    --darkText: #293241;
    --lightText: #FFFFFF;
}

::selection {
    color: var(--lightText);
    background: var(--main);
}

body {
    font-family: Poppins;
}

.bg-primary {
    background-color: var(--main) !important;
}

.bg-accent {
    background-color: var(--accent);
}

/*TYPOGRAPHY*/

.txt-color-main {
    color: var(--main);
}

.txt-color-accent-non-hover {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

.txt-color-accent {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

    .txt-color-accent:hover {
        color: var(--link);
        text-decoration: none;
    }

.txt-color-light {
    color: var(--lightText);
}

.txt-color-dark {
    color: var(--darkText);
}

.txt-color-link {
    color: var(--link);
}

    .txt-color-link:hover {
        color: var(--link-hover);
    }

.h4 {
    font-size: 14pt;
    color: var(--link);
}

.h4-details {
    font-size: 13pt;
    font-weight: normal;
}

.h5 {
    font-size: 11pt;
    color: var(--link);
}

.hr-blue {
    border: 2px solid var(--accent);
    border-radius: 10px;
}

.vl {
    border-left: 1px solid var(--link);
}

.fs {
    font-size: 12pt;
}

.fs-s {
    font-size: 10pt;
}

.fa-light {
    color: var(--lightText);
}

.fa-main {
    color: var(--main);
}

.fa-main-accent {
    color: var(--main);
    transition: all 0.3s ease;
}

    .fa-main-accent:hover {
        color: var(--accent);
    }

.fa-main-close {
    color: var(--main);
    transition: all 0.3s ease;
}

    .fa-main-close:hover {
        color: var(--link);
    }

.fa-accent {
    color: var(--accent);
}

.fa-card {
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0px;
}

input:focus {
    outline: none;
    box-shadow: none !important;
}

.p-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*BUTTONS & LINKS*/
.link {
    color: var(--main);
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;
}

    .link:hover {
        color: var(--accent);
    }

.btn-caution {
    color: var(--lightText);
    background: var(--link);
    border-color: var(--link);
    border-radius: 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

    .btn-caution:hover {
        color: var(--lightText);
        background: var(--link-hover);
        border-color: var(--link-hover);
    }

    .btn-check:focus + .btn-caution, .btn-caution:focus {
        color: var(--lightText);
        background: var(--link-hover);
        border-color: var(--link-hover);
        box-shadow: 0 0 0 0.20rem var(--link-hover);
    }

.btn-stnd {
    color: var(--lightText);
    background: var(--main);
    border-color: var(--main);
    border-radius: 8px;
    transition: all 0.3s ease;
}

    .btn-stnd:hover {
        color: var(--lightText);
        background: var(--main-hover);
        border-color: var(--main-hover);
    }

    .btn-check:focus + .btn-stnd, .btn-stnd:focus {
        color: var(--lightText);
        background: var(--main-hover);
        border-color: var(--main-hover);
        box-shadow: 0 0 0 0.20rem var(--main);
    }

.btn-trailer {
    color: var(--main);
    background: transparent;
    border: 0px;
    transition: all 0.3s ease;
}

.btn-read-more {
    color: var(--main);
    background: transparent;
    border: 0px;
    transition: all 0.3s ease;
}

    .btn-check:focus + .btn-read-more, .btn-read-more:focus {
        color: var(--accent);
        background: transparent;
        border: 0px;
    }

.btn-details {
    color: var(--main);
    background: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.btn-details-tablet {
    color: var(--main);
    background: transparent;
    border: 0px;
    position: absolute;
    bottom: 0;
}

    .btn-details:hover,
    .btn-details-tablet:hover,
    .btn-trailer:hover,
    .btn-read-more:hover {
        color: var(--accent);
        background: transparent;
        border: 0px;
    }

    .btn-check:focus + .btn-details, .btn-details:focus,
    .btn-check:focus + .btn-details-tablet, .btn-details-tablet:focus,
    .btn-check:focus + .btn-trailer, .btn-trailer:focus {
        color: var(--accent);
        background: transparent;
        border: 0px;
    }

/* NAVBAR */
a.nav-link {
    font-size: 14pt;
    font-family: Poppins;
    font-weight: 300;
    transition: all 0.3s ease;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--lightText);
}

.navbar-custom .navbar-nav .nav-link {
    color: var(--lightText);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--accent);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Rand rond hamburger icoon van toggler wit maken */
/*.custom-toggler.navbar-toggler {
    border-color: var(--lightText);
}*/

.custom-toggler.navbar-toggler:focus {
    box-shadow: 0 0 0 0.20rem var(--main);
}

.nav-dropdown {
    color: var(--darkText);
    background: var(--lightText);
    border: 1px solid var(--lightText);
    border-radius: 8px;
    box-shadow: 0 0 5px #cecece;
    padding: 10px;
}

.nav-dropdown-text {
    color: var(--darkText);
    font-weight: 300;
}

    .nav-dropdown-text:hover {
        color: var(--accent);
        background: var(--lightText);
    }

    .nav-dropdown-text:active {
        color: var(--darkText);
        background: var(--lightText);
    }

.dropdown-item {
    transition: all 0.3s ease;
}

/*TABS*/
.nav-pills .nav-item .nav-link {
    color: var(--darkText);
    transition: all 0.3s ease;
}

    .nav-pills .nav-item .nav-link:hover {
        color: var(--accent);
    }

    .nav-pills .nav-item .nav-link.active {
        color: var(--accent);
        background: transparent;
        border-bottom: 1px solid var(--accent);
        border-radius: 0px;
    }

button.nav-link {
    color: var(--darkText);
    transition: all 0.3s ease;
}

    button.nav-link:hover {
        color: var(--accent);
    }

/* HOME VIEW */

.img-trans {
    border: none;
}

.spotlight {
    margin-top: 50px;
}

.spotlightInfo {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

/*FROM LAYOUT*/
.body-sign-in {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body-settings {
    display: flex;
    align-items: start;
}

.form-signin,
.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.form-settings {
    width: 100%;
    max-width: 400px;
}

.form-add {
    width: 100%;
    max-width: 600px;
}

.form-signin .checkbox,
.form-signup .checkbox {
    font-weight: 300;
}

.form-signin .form-floating:focus-within,
.form-signup .form-floating:focus-within,
.form-settings .form-floating:focus-within,
.form-add .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"],
.form-settings input[type="username"],
.form-settings input[type="email"],
.form-settings input[type="password"],
.form-settings input[type="date"],
.form-add input[type="username"],
.form-add input[type="email"],
.form-add input[type="password"],
.form-add input[type="date"],
.form-add input[type="text"],
.form-add input[type="number"],
.form-add textarea {
    margin-bottom: 10px;
    border-radius: 0px;
    border: 1px solid var(--accent);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

    .form-settings input[type="email"]:disabled {
        background: #f3f3f3;
    }

input[type=checkbox] {
    accent-color: var(--link);
}

input[type="search"],
input[type="search"]:focus {
    border-radius: 0px;
    border: 1px solid var(--link);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

textarea {
    min-height: 60px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow: hidden;
}

/*TABLE LAYOUT*/
.table tbody td {
    border-bottom: 0.5px dashed var(--accent);
}

.table thead th {
    font-weight: 500;
    border-bottom: 1px solid;
}

table {
    white-space: nowrap;
}

/*USER MANAGEMENT*/
.user-card {
    background: var(--lightText);
    border: 1px solid var(--lightText);
    border-radius: 8px;
    box-shadow: 0 0 5px #cecece;
    transition: all 0.3s ease;
}

    .user-card:hover {
        border: 1px solid var(--accent);
        box-shadow: 0 0 5px #c6e8fc;
    }

/*BIO POPOVER*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightText);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--main);
    }

.custom-popover {
    max-width: 600px;
    max-height: 600px;
    background: var(--lightText);
    border: 1px solid var(--lightText);
    border-radius: 8px;
    box-shadow: 0 0 5px #cecece;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .custom-popover::-webkit-scrollbar {
        width: 10px;
    }

    .custom-popover::-webkit-scrollbar-track {
        background: var(--lightText);
    }

    .custom-popover::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

        .custom-popover::-webkit-scrollbar-thumb:hover {
            background: var(--main);
        }

.popover {
    white-space: pre-wrap;
}

.popover-header {
    background: var(--lightText);
    border: 0px;
    color: var(--main);
}

/* PAGINATION */
.pagination ul {
    display: flex;
    background: var(--lightText);
    padding: 8px;
    border-radius: 50px;
    margin: 0;
}

    .pagination ul li {
        list-style: none;
        line-height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 50%;
        color: var(--main);
        transition: all 0.3s ease;
    }

        .pagination ul li.numb {
            height: 47px;
            width: 47px;
            margin: 0 3px;
        }

        .pagination ul li.dots {
            font-size: 22px;
            cursor: default;
            margin: 0 3px;
        }

        .pagination ul li.btn {
            /*background: var(--lightText);*/
            padding: 0 20px;
        }

        .pagination ul li.prev {
            border-radius: 25px;
        }

        .pagination ul li.next {
            border-radius: 25px;
        }

        .pagination ul li.active,
        .pagination ul li.numb:hover,
        .pagination ul li.btn:hover {
            background: var(--accent);
            color: var(--lightText);
        }

/* OTHER */

.text-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.border-orange {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--link);
    border-radius: 0px;
    background: transparent;
}

.genre-mobile {
    position: absolute;
    bottom: 0;
}

.select {
    color: var(--darkText);
    background: var(--lightText);
    border: 1px solid var(--lightText);
    border-radius: 8px;
    box-shadow: 0 0 5px #cecece;
}