@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email addres";
}

<section class="container mt-3">
    <div class="row mb-2">
        <h1>@ViewData["Title"]!</h1>
    </div>
    <div class="row">
        <p>
            Your email address is verified!
            <a asp-page="./Login" class="txt-color-link">
                Click here to log in.
            </a>
        </p>
    </div>
</section>




