@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bevestiging wachtwoord reset";
}

<section class="text-center" id="sign-in">
    <div class="body-sign-in">
        <div class="form-signin">
            <div class="d-flex justify-content-center align-content-center">
                <img class="w-25" src="~/images/MovieFreakRound.png" />
            </div>
            <h1 class="h3 mt-4 fw-normal">@ViewData["Title"]</h1>
            <p>Controleer uw e-mail om het wachtwoord aan te passen.</p>
        </div>
    </div>
</section>

