@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bevestig je registratie";
}
<section class="container mt-3">
    <div class="row mb-2">
        <h1>@ViewData["Title"]!</h1>
    </div>
    <div class="row">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    Deze website kan momenteel je account nog niet verifieren via e-mail. Klik op de volgende link om je e-mailadres te bevestigen:
                    <a class="txt-color-link" id="confirm-link" href="@Model.EmailConfirmationUrl"><br>> Activeer hier je account!</a>
                </p>
            }
            else
            {
                <p>
                    Controleer je inbox om je account te activeren.
                </p>
            }
        }
    </div>
</section>
