@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirm registration";
}
<section class="container mt-3">
    <div class="row mb-2">
        <h1>@ViewData["Title"]!</h1>
    </div>
    <div class="row">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    This website can't verify your account yet through email. Click on the next link to confirm your email address:'
                    <a class="txt-color-link" id="confirm-link" href="@Model.EmailConfirmationUrl"><br><i class="fa fa-caret-right fa-main"></i> Activate your account!</a>
                </p>
            }
            else
            {
                <p>
                    Check your inbox to activate your account!
                </p>
            }
        }
    </div>
</section>
