@using Microsoft.AspNetCore.Identity
@using MovieFreak.Areas.Identity.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" title="Account" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.Name
        </a>
        @if (User.IsInRole("admin"))
        {
            <ul class="dropdown-menu nav-dropdown" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item nav-dropdown-text" href="/Identity/Account/Manage/Index">Account</a></li>
                <li><a class="dropdown-item nav-dropdown-text" href="/Admin/Index">Databeheer</a></li>
                <li><a class="dropdown-item nav-dropdown-text" href="/Gebruiker/Index">Gebruikersbeheer</a></li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="dropdown-item nav-dropdown-text">Uitloggen</button>
                    </form>
                </li>
            </ul>
        }
        else
        {
                <ul class="dropdown-menu nav-dropdown" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item nav-dropdown-text" href="/Identity/Account/Manage/Index">Account</a></li>
                    <li><a class="dropdown-item nav-dropdown-text" href="/Account/Index">Lijsten</a></li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="dropdown-item nav-dropdown-text">Uitloggen</button>
                    </form>
                </li>
            </ul>
        }
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
        </a>
        <ul class="dropdown-menu nav-dropdown" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item nav-dropdown-text" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                <li><a class="dropdown-item nav-dropdown-text" asp-area="Identity" asp-page="/Account/Register">Registreren</a></li>
        </ul>
    </li>
}
</ul>
