@model MovieFreak.ViewModels.FilmViewModels.AddFilmViewModel;
@{
    ViewData["Title"] = "Film toevoegen";
}
<section class="container mt-3">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
</section>

