@{
    ViewData["Title"] = "Top Gun: Maverick";
}

@*LAPTOP LARGE*@
<section class="container mt-3 d-none d-xl-block">

    <div class="row row-cols-2">
        <div class="col-4">
            <img src="/images/placeholder-film.png" class="img-fluid rounded"/>
        </div>
        <div class="col-8 pt-2 position-relative">
            <h2 class="my-1">The Lord of the Rings: The Fellowship of the Ring</h2>
            <div class="row row-cols-2">
                <div class="col-10">
                    <hr class="hr-blue" />
                </div>
                <div class="col-2">
                    <h5 class="h4-home py-2 m-0">0h 00m</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h4 class="h4-home">Genre</h4>
                </div>
                <div class="col-2">
                    <h4 class="h4-home">Taal</h4>
                </div>
            </div>
            
            <div class="py-4 fs-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="position-absolute bottom-0 pb-2">
                <a href="https://www.youtube.com/" target="_blank">
                    <button type="button" class="btn btn-trailer">
                        > Bekijk hier de trailer
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <hr class="my-4" style="width:75%; margin: auto"/>
        </div>
    </div>

    <div class="row">
        <div class="col"> 

            <h2 class="pb-3">Regisseur</h2>

            <div class="row row-cols-4">
                <div class="col-2">
                    <img src="/images/placeholder.png" class="img-fluid rounded"/>
                </div>
                <div class="row row-cols-3 col-10 py-2">
                    <div class="col-6">
                        <h3 class="mb-0">
                        Naam <span class="fs-6">(leeftijd)</span>
                        </h3>
                        <h4 class="h4-details mt-0 invisible">leeftijd</h4>
                        <div class="pt-3">
                            <h4 class="h4-details my-2">geboortedatum</h4>
                            <h4 class="h4-details my-2">Geboorteplaats</h4>
                            <h4 class="h4-details my-2">Geboorteland</h4>
                        </div>
                    </div>
                    <div class="col-6 vl ps-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <hr class="my-4" style="width:75%; margin: auto" />
        </div>
    </div>

    <div class="row">
        <div class="col">

            <h2 class="pb-3">Acteurs</h2>

            <div class="row row-cols-4 mb-4">
                <div class="col-2">
                    <img src="/images/placeholder.png" class="img-fluid rounded" />
                </div>
                <div class="row row-cols-3 col-10 py-2">
                    <div class="col-6">
                        <h3 class="mb-0">
                            Naam <span class="fs-6">(leeftijd)</span>
                        </h3>
                        <h4 class="h4-details mt-0 txt-accent">Personage naam</h4>
                        <div class="pt-3">
                            <h4 class="h4-details my-2">geboortedatum</h4>
                            <h4 class="h4-details my-2">Geboorteplaats</h4>
                            <h4 class="h4-details my-2">Geboorteland</h4>
                        </div>
                    </div>
                    <div class="col-6 vl ps-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                    </div>
                </div>
            </div>

            <div class="row row-cols-4 mb-4">
                <div class="col-2">
                    <img src="/images/placeholder.png" class="img-fluid rounded" />
                </div>
                <div class="row row-cols-3 col-10 py-2">
                    <div class="col-6">
                        <h3 class="mb-0">
                            Naam <span class="fs-6">(leeftijd)</span>
                        </h3>
                        <h4 class="h4-details mt-0 txt-accent">Personage naam</h4>
                        <div class="pt-3">
                            <h4 class="h4-details my-2">geboortedatum</h4>
                            <h4 class="h4-details my-2">Geboorteplaats</h4>
                            <h4 class="h4-details my-2">Geboorteland</h4>
                        </div>
                    </div>
                    <div class="col-6 vl ps-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                    </div>
                </div>
            </div>

            <div class="row row-cols-4 mb-4">
                <div class="col-2">
                    <img src="/images/placeholder.png" class="img-fluid rounded" />
                </div>
                <div class="row row-cols-3 col-10 py-2">
                    <div class="col-6">
                        <h3 class="mb-0">
                            Naam <span class="fs-6">(leeftijd)</span>
                        </h3>
                        <h4 class="h4-details mt-0 txt-accent">Personage naam</h4>
                        <div class="pt-3">
                            <h4 class="h4-details my-2">geboortedatum</h4>
                            <h4 class="h4-details my-2">Geboorteplaats</h4>
                            <h4 class="h4-details my-2">Geboorteland</h4>
                        </div>
                    </div>
                    <div class="col-6 vl ps-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>