@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Wachtwoord wijzigen";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div>
    <div class="row mb-2">
        <h3>@ViewData["Title"]</h3>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>

    <div class="row">
        <div class="body-settings">
            <div class="form-settings">
                <form id="account" method="post" id="change-password-form">

                    <div class="form-floating">
                        <input asp-for="Input.OldPassword" type="password" class="form-control ps-1" id="floatingInput" placeholder="name@example.com" />
                        <label asp-for="Input.OldPassword" for="floatingInput" class="ps-0">Oud wachtwoord</label>
                        <span asp-validation-for="Input.OldPassword" class="txt-color-link"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.NewPassword" type="password" class="form-control ps-1" id="floatingInput" placeholder="name@example.com" />
                        <label asp-for="Input.NewPassword" for="floatingInput" class="ps-0">Nieuw wachtwoord</label>
                            
                        <span asp-validation-for="Input.NewPassword" class="txt-color-link"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control ps-1" id="floatingInput" placeholder="name@example.com" />
                        <label asp-for="Input.ConfirmPassword" for="floatingInput" class="ps-0">Bevestig nieuw wachtwoord</label>
                            
                        <span asp-validation-for="Input.ConfirmPassword" class="txt-color-link"></span>
                    </div>

                    <div class="form-floating">
                        <button class="btn btn-stnd mt-3" type="submit">Wachtwoord wijzigen</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}