@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div>
    <div class="row mb-2">
        <h3>@ViewData["Title"]</h3>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>

    <div class="row">
        <div class="body-settings">
            <div class="form-settings">
                <form id="account" method="post">
                    <div class="form-floating">
                        <input asp-for="Username" type="username" class="form-control ps-1" id="floatingInput" placeholder="name@example.com" disabled />
                        <label asp-for="Username" for="floatingInput" class="ps-0">Username</label>
                        <div class="text-start">
                            <span asp-validation-summary="ModelOnly" class="txt-color-link fs-s"></span>
                        </div>
                    </div>
                    <div class="form-floating">
                        <button class="btn btn-stnd mt-2" id="update-profile-button" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}