@model MovieFreak.ViewModels.PersonViewModels.AddPersonViewModel;
@{
    ViewData["Title"] = "Persoon toevoegen";
}
<section class="container mt-3">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col">
            <hr class="hr-blue" />
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <div class="body-settings">
                <div class="form-add">
                    <form asp-action="AddPerson">

                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Voornaam" type="text" class="form-control" id="floatingInput" placeholder="firstname" />
                                    <label asp-for="Voornaam" for="floatingInput">Voornaam</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Voornaam" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Achternaam" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                    <label asp-for="Achternaam" for="floatingInput">Achternaam</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Achternaam" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Geboortedatum" type="date" class="form-control" id="floatingInput" placeholder="lastname" />
                                    <label asp-for="Geboortedatum" for="floatingInput">Geboortedatum</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Geboortedatum" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Geboorteplaats" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                    <label asp-for="Geboorteplaats" for="floatingInput">Geboorteplaats</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Geboorteplaats" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Geboorteland" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                    <label asp-for="Geboorteland" for="floatingInput">Geboorteland</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Geboorteland" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <input asp-for="Rol" type="text" class="form-control" id="floatingInput" placeholder="lastname" />
                                    <label asp-for="Rol" for="floatingInput">Rol</label>
                                    <div class="text-start">
                                        <span asp-validation-for="Rol" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <textarea asp-for="Biografie" type="text" class="form-control" id="floatingInput" placeholder="lastname" onkeyup="adjustHeight(this)"></textarea>
                                    <label asp-for="Biografie" for="exampleFormControlTextarea1"></label>
                                    <div class="text-start">
                                        <span asp-validation-for="Biografie" class="txt-color-link fs-s"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating">
                            <button type="submit" value="Create" class="btn btn-stnd my-3">> Toevoegen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}