@{
    ViewData["Title"] = "Film beheer";
}

<section class="container mt-3">
    <div class="row">
        <div class="col">
            <h1>Film beheer</h1>
        </div>
    </div>

    <div class="row my-2">
        <h4>
            Spotlight Movie aanpassen
        </h4>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-home p-2">
                Nieuwe film toevoegen
            </button>
        </div>
    </div>
</section>