@{
    ViewData["Title"] = "Home";
}

<header class="container-fluid">

    <div class="row">
        <div class="col-xl-6 overflow-hidden d-sm-none col-lg-12 d-md-block pt-5 px-0">
            <img class="m-3 position-absolute" src="~/images/movie-freak-home.png" alt="MovieFreakRoundLogo" >
            <img class="spotlight" src="~/images/placeholder.png" alt="Placeholder">
        </div>

        <div class="col-xl-6 overflow-hidden d-sm-none col-lg-12 d-md-block pt-5 px-0 spotlightInfo">
            <h1 class="m-0">Film Titel</h1>
            <div class="container px-0 py-3">
                <div class="row m-0 p-0">
                    <div class="col-3 h4-home p-0">
                        <h5>Duurtijd</h5>
                    </div>
                    <div class="col-3 h4-home">
                        <h5>Taal</h5>
                    </div>
                    <div class="col-3 h4-home">
                        <h5>Genre</h5>
                    </div>
                </div>
            </div>
            <hr class="hr-blue m-0" />
            <div class="text-container">
                <p class="fs m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
            <button type="button" class="btn btn-home btn-lg">
                Meer details
            </button>
            <div>

            </div>
            
        </div>
    </div>

</header>

